html, body { 
  width: 100%; 
  height: 100%; 
  margin:0; 
  font-family: “Oxygen”, sans-serif;
  font-size: 12px;
}

body {
  flex-direction: row;
}

div[root]{
  height:100%;
  width:100%;
}

.menu {
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  height:215px;
  background-color:rgba(0,0,0,0.5);
  white-space: nowrap;
  overflow-x:scroll;
  z-index:999;
}

.menu .item {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 40px;
  font-size: 100px;
  line-height: 100px;
  background-color:rgb(68, 125, 50);
  box-shadow:inset -7px 0 50px -7px rgba(0,0,0,.5)
  color: #fff;
  cursor: pointer;
  user-select:none;
  border:10px solid rgba(0,0,0,0.5);
  border-right:none;
  box-sizing: border-box;
}

.level {
  position:fixed;
  height:0px;
  left:0;
  right:0;
  bottom:200px;
  background-color:rgb(125, 50, 50);
  overflow-x:scroll;
  white-space:nowrap;
  box-shadow:inset -7px 0 50px -7px rgba(0,0,0,.5);
}

.level .division{
  border: none;
  display:inline-block;
}
@media only screen and (max-width: 600px) {}
.level .bar { /* if level height isset then display block(media query).js*/
  position:fixed;
  bottom:380px;
  left:0;
  right:0;
  font-size:80px;
  line-height:80px;
  text-align:left;
  margin:0px auto;
  background-color: rgba(0,0,0,0.1);
}

.level .bar .close-btn {
  position: absolute;
  right:0;
  top:0;
  font-size:60px;
  line-height: 80px;
  padding: 0px 20px;
  background-color: rgba(0,0,0,0.3);
  cursor:pointer;
}

.level .item{
  font-size:30px;
  line-height: 100px;
  width: 300px;
  margin:5px;
  margin-right:0px;
  text-align: center;
  color:#ededed;
  position:relative;
  float:none;
  background-color: rgba(0,0,0,0.5);
  user-select:none;
}

.level .item:hover{
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.level .empty{
  font-size:30px;
  line-height: 100px;
  width: 200px;
  margin:5px;
  margin-right:0px;
  text-align: center;
  color:rgba(0,0,0,0.0);;
  position:relative;
  float:none;
  background-color: rgba(0,0,0,0.0);
  user-select:none;
}

.input {
  position:relative;
  border:1px solid rgba(0,0,0,0.5);
  line-height: 18px;
  margin:5px;
  height:auto;
}

.btn {
  position:relative;
  border:1px solid rgba(0,0,0,0.5);
  line-height: 18px;
  margin:5px;
  height:auto;
  text-align: center;
  background-color:rgba(20,225,55,0.7);
  cursor:pointer;
  word-break: break-all;
}

.dropdown {
  position:relative;
  display: inline-block;
  line-height: 20px;
  height:20px;
  border:1px solid rgba(0,0,0,0.5);
  background-color:rgba(0,0,0,0.0);
  margin:5px;
  overflow:hidden;
  cursor:pointer;
}

.dropdown .item {
    width: 200px;
}

.dropdown .item:hover {
    background-color: rgba(0,0,0,0.2);
}

.col-resize {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  overflow: hidden;
  background: rgb(221, 221, 221) none repeat scroll 0% 0%;
  cursor: col-resize;
  left: calc(13.4921% + 43.2539px);
  top: calc(0px);
  width: calc(0% + 11px);
  height: calc(100%);
}

.wrapper {
  display:flex;
  height: 100%;
}

.container {
  position:relative;
  border: 1px solid rgba(0,0,0,0.5);
  margin:10px;
  box-sizing:border-box;
  padding:10px;
  min-height: 200px;
  height:250px;
  overflow-y:scroll;
  word-break:break-all;
}

.viewer {
  border: 1px solid rgba(0,0,0,0.5);
  width: 70%;
  max-width:70%;
  margin:10px;
  padding:5px;
}

[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text);
    font-style:italic;
    padding-left: 5px;
    color: #999;
}

.auth-screen{
  position: fixed;
  left:0;
  top:33%;
  z-index:999;
}


.header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: rgba(0,0,0,1);
}
.header .btn {
        color: #fff;
        padding: 15px 0px;
        margin: auto;
        font-size: 10px;
}

.header .btn .menu-toggle {
        height: 50px;
        width: 50px;
        display: block;
        cursor: pointer;
}

.level {
    position: fixed;
    transition: 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    width:200px;
}

.level .text {
        position: absolute;
        font-size: 14px;
        line-height: 50px;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        text-align: left;
        margin: 0;
        box-sizing: border-box;
}

.level .level-link {
        display: block;
        padding: 10px;
        font-size: 12px;
        line-height: 12px;
        height: 30px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
}

.level .item {
        position: relative;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        float: left;
        box-sizing: border-box;
        line-height: 50px;
        padding: 0px 10px;
        width:100%;
}

.level .item:hover {
        position: relative;
        background-color: rgba(0,0,0,0.8);
        color: #fff;
        float: left;
        box-sizing: border-box;
        
}

.level .item .item-link {
            display: block;
            padding: 10px;
            font-size: 10px;
            line-height: 10px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
.level .item .item-link:hover {
            background-color: rgba(0,0,0,0.5);
}

.level.left {
    left: 0;
    top: 50px;
    bottom: 0;
}

.level.left .wrapper {
        margin-right: 30px;
        height: 100%;
        overflow-x: auto;
}

.level.left .text {
        top: 0;
        bottom: 0;
        right: 0;
        width: 30px;
}
.level.left .level-link {
            position: relative;
            height: 100%;
            writing-mode: tb-rl;
}